input.ng-invalid.ng-touched {
    border-color: hsla(354, 70%, 59%, 1)
}

.error-message {
    display: flex;
    flex-direction: column;
    padding: 6px 12px  6px 12px;
    border-radius: 8px;
    background-color: hsla(354, 70%, 90%, 1);
    color: hsla(354, 70%, 15%, 1);
    font-size: 14px;
    ul {
        margin: 0;
        padding-left: 20px;
    }
}

