<div class="card rounded-4" [routerLink]="['/user', user()?._id]">
    <div class="row g-0">
        <div class="col-3">
            <figure>
                <img [src]="user()?.image" class="card-img-top" alt="user()?.username">
            </figure>
        </div>
        <div class="col-9 d-flex">
            <div class="card-body card-body d-flex flex-column justify-content-between">
                <div class="d-flex flex-column gap-0">
                    <h5>{{user()?.first_name}} {{user()?.last_name}}</h5>
                    <span class="small text-primary">@{{user()?.username}}</span>
                </div>
                <div class="d-flex flex-row gap-2">
                    <button type="button" class="btn btn-light rounded-3" data-bs-toggle="tooltip" data-bs-placement="top" title="Ver" [routerLink]="['/user', user()?._id]">
                        <i class="bi bi-eye"></i>
                    </button>
                    <button type="button" class="btn btn-light rounded-3" data-bs-toggle="tooltip" data-bs-placement="top" title="Editar" [routerLink]="['/updateuser', user()?._id]">
                        <i class="bi bi-pencil"></i>
                    </button>
                    <button type="button" 
                            class="btn btn-outline-danger rounded-3" 
                            data-bs-toggle="modal" 
                            data-bs-target="#modalContent"
                            (click)="$event.stopPropagation(); userService.openDeleteModal(user()!)" 
                            title="Eliminar">
                        <i class="bi bi-trash"></i>
                    </button>
                </div>
            </div>
        </div>
</div>
