<section class="container-lg d-flex flex-column pb-4 ps-4 pe-4 align-items-center text-center justify-content-center min-vh-100 col-12 col-md-2">
    <figure>
        <img src="images/404.svg" alt="Página no encontrada">
    </figure>
    <div class="d-flex flex-column gap-2">
        <h1>Página no encontrada</h1>
        <p>La página que buscas no existe o no está disponible. Puedes volver a la página de inicio.</p>
        <button type="button" class="btn btn-primary rounded-3" [routerLink]="['/home']">
            <i class="bi bi-arrow-left"></i>
            Volver al inicio
        </button>
    </div>
</section>