<section class="container-lg d-flex flex-column pt-4 pb-4">
    <app-herosection 
        title="Administra tu comunidad" 
        subtitle="Administra los miembros de tu plataforma de manera segura y sencilla. 
        Puedes agregar nuevos usuarios, editar o eliminar los existentes.">
    </app-herosection>
</section>
<section class="container-lg d-flex flex-column pb-4">
    <app-titlesection 
        title="Listado de usuarios" 
        subtitle="Elige un usuario para llevar a cabo las acciones disponibles.">
    </app-titlesection>
</section>
<section class="container-lg d-flex flex-column pb-4">
    <app-cardlist></app-cardlist>
</section>
